<a href="https://colab.research.google.com/github/Agrawalsk/Edge_Search/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np;
import pandas as pd;
a=np.array([1,2,3])
b=np.array([4,5,6])
c=np.where(a==4)
print(c)
a=pd.read_csv("/content/candy-data.csv");
print(a);

(array([], dtype=int64),)
                competitorname  chocolate  fruity  caramel  peanutyalmondy  \
0                    100 Grand          1       0        1               0
1                 3 Musketeers          1       0        0               0
2                     One dime          0       0        0               0
3                  One quarter          0       0        0               0
4                    Air Heads          0       1        0               0
..                         ...        ...     ...      ...             ...
80                   Twizzlers          0       1        0               0
81                    Warheads          0       1        0               0
82        Welch's Fruit Snacks          0       1        0               0
83  Werther's Original Caramel          0       0        1               0
84                    Whoppers          1       0        0               0

    nougat  crispedricewafer  hard  bar  pluribus  sugarpercent  pricepercent  \
0        0                 1     0    1         0         0.732         0.860
1        1                 0     0    1         0         0.604         0.511
2        0                 0     0    0         0         0.011         0.116
3        0                 0     0    0         0         0.011         0.511
4        0                 0     0    0         0         0.906         0.511
..     ...               ...   ...  ...       ...           ...           ...
80       0                 0     0    0         0         0.220         0.116
81       0                 0     1    0         0         0.093         0.116
82       0                 0     0    0         1         0.313         0.313
83       0                 0     1    0         0         0.186         0.267
84       0                 1     0    0         1         0.872         0.848

    winpercent
0    66.971725
1    67.602936
2    32.261086
3    46.116505
4    52.341465
..         ...
80   45.466282
81   39.011898
82   44.375519
83   41.904308
84   49.524113

[85 rows x 13 columns]